# Install these with `pre-commit install`
# Run yourself with `pre-commit run`.
# See https://pre-commit.com for more information
exclude: '^notebooks/'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.7
  hooks:
    # Run the linter.
    - id: ruff
      args: [ '--fix' ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
    - id: isort
      name: isort (python)

# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
    - id: black
      language_version: python3.11
