name: Run tests

on:
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    # See https://github.com/google-github-actions/auth#usage
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:        
    - uses: actions/checkout@v4

    - name: Set up Python
      id: setup-python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install poetry
      uses: abatilo/actions-poetry@v2

    - name: Install dependencies
      run: poetry install --with dev

    - name: Run tests
      run: poetry run pytest tests
